<header class="header">
  <nav>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="/" class="<%= path === '/' ? 'active-header' : '' %>">User</a>
      </li>
      <li class="header-list-item">
        <a href="/admin/add-user" class="<%= path === '/admin/add-user' ? 'active-header' : '' %>" >Add User</a>
      </li>
    </ul>
  </nav>
</header>
