doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        block styles
        title #{docTitle}
    body
        header(class="header")
            nav
                ul(class="header-list")
                    li(class="header-list-item")
                        a(href="/",  class=(path === '/' ? 'active-header' : '')) User
                    li(class="header-list-item")
                        a(href="/admin/add-user", class=(path === '/admin/add-user' ? 'active-header' : '')) Add User
    block content