<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <ul class="header-list">
          <li class="header-list-item">
            <a href="/">User</a>
          </li>
          <li class="header-list-item">
            <a href="/admin/add-user">Add User</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="page-not-found">
          <h1>Page Not Found - 404</h1>
        </div>
      </section>
    </main>
  </body>
</html>
