extends ./layouts/main-layout.pug

block styles
     link(rel="stylesheet", href="/css/add-user.css")

block content
    main
        section
            div(class="add-user-form")
                h1 Add User
                form(action="/admin/add-user", method="POST")
                    div(class="form-block")
                        input(class="form-input", name="user", type="text")
                    div(class="form-block")
                        button(class="form-button", type="submit") Submit