<main>
  <section>
    <div class="add-user-form">
      <h1>Add User</h1>
      <form action="/admin/add-user" method="POST">
        <div class="form-block">
          <input class="form-input" name="user" type="text" />
        </div>
        <div class="form-block">
          <button class="form-button" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>
</main>