<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/user.css">
    <title>User</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <ul class="header-list">
          <li class="header-list-item">
            <a class="active-header" href="/">User</a>
          </li>
          <li class="header-list-item">
            <a href="/admin/add-user">Add User</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="user-list">
          {{#if hasUsers}}
          <h1>List of users...</h1>
          {{#each users}}
            <li>{{this.user}}</li>
          {{/each}}
          {{else}}
          <h1>No Users Available</h1>
          {{/if}}
        </div>
      </section>
    </main>
  </body>
</html>
