extends ./layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/user.css")

block content
    main
        section
            div(class="user-list")
                if users.length
                    h1 List of Users:
                    each item in users
                        li #{item.user}
                else
                    h1 No Users available