<main>
  <section>
    <div class="user-list">
      {{#if hasUsers}}
        <h1>List of users...</h1>
        {{#each users}}
          <li>{{this.user}}</li>
        {{/each}}
      {{else}}
        <h1>No Users Available</h1>
      {{/if}}
    </div>
  </section>
</main>