.add-user-form {
  padding: 1rem;
}

.form-block {
  padding-top: 0.5rem;
}

.form-button {
  background: blue;
  font: inherit;
  border: 2px solid #fff;
  padding: 0.5rem;
  color: #fff;
}

.form-input {
  font: inherit;
}

.form-button:active,
.form-button:hover {
  cursor: pointer;
  background: #ff1493;
}
