<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/user.css" />
<title><%= docTitle %></title>
</head>

<body>
  <%- include('../includes/navigation') %>
  <main>
    <section>
      <div class="work-order-list">
        <h1>Work Orders</h1>
      </div>
    </section>
  </main>
  <%- include('../includes/end')%>